@charset "UTF-8";
/* CSS Document */
.content {
padding-top:60px;
}
.on{
	font-size:24px;
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
.on:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.on:active {
	position:relative;
	top:1px;
}
.off {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.off:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.off:active {
	position:relative;
	top:1px;
}
.cam {
	-moz-box-shadow:inset 0px 1px 0px 0px #dded00;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dded00;
	box-shadow:inset 0px 1px 0px 0px #dded00;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffe601), color-stop(1, #d7e609));
	background:-moz-linear-gradient(top, #ffe601 5%, #d7e609 100%);
	background:-webkit-linear-gradient(top, #ffe601 5%, #d7e609 100%);
	background:-o-linear-gradient(top, #ffe601 5%, #d7e609 100%);
	background:-ms-linear-gradient(top, #ffe601 5%, #d7e609 100%);
	background:linear-gradient(to bottom, #ffe601 5%, #d7e609 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe601', endColorstr='#d7e609',GradientType=0);
	background-color:#ffe601;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d3f013;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e2ff40;
	height:50px;
	line-height:50px;
	width:100px;
}
.cam:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d7e609), color-stop(1, #ffe601));
	background:-moz-linear-gradient(top, #d7e609 5%, #ffe601 100%);
	background:-webkit-linear-gradient(top, #d7e609 5%, #ffe601 100%);
	background:-o-linear-gradient(top, #d7e609 5%, #ffe601 100%);
	background:-ms-linear-gradient(top, #d7e609 5%, #ffe601 100%);
	background:linear-gradient(to bottom, #d7e609 5%, #ffe601 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7e609', endColorstr='#ffe601',GradientType=0);
	background-color:#d7e609;
}
.cam:active {
	position:relative;
	top:1px;
}