$def with (plot)
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>$title</title>
		<link rel="stylesheet" type="text/css" href="/static/main.css">
		<link href="/static/bootstrap.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<center><body>
		<div class="container-fluid">
		 	<div class="row-fluid">
		   		<div class="span2">
			    		<img src="/static/rpi.jpg" width=72px height=64px /></table>
			    	</div>
				<div class="span8">
					<p>This is an app to control the birdcam surveillance system using Raspberry Pi<br/>
					You are watching Webcam $webcam</p>
				</div>				
				<div class="span2"></div>
			</div>
			<div class="row-fluid">		   
				<div class="span2"></div>
				<div class="span8">
					<form class="form" method="post"> 
						$:plot.render()
					</form>		
				</div>
				<div class="span2"></div>
			</div>
		</div>
	</body></center>
</html>
