$def with (form, title, webcam)
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>$title</title>
		<link rel="stylesheet" type="text/css" href="/static/main.css">
		<link href="/static/bootstrap.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<center><body>
		<div class="container-fluid">
		 	<div class="row-fluid">
		 		<div class="span1"> </div>
			    <div class="span1">
			    	<img src="/static/rpi.jpg" />
			    </div>
				<div class="span8">
					<p>This is an app to control the birdcam surveillance system using Raspberry Pi<br/>
					You are watching Webcam $webcam</p>
				</div>
				<div class="span2"> </div>
	    	<div class="content">
	    		<div class="span2"> </div>
	    		<div class="span8">				      	
	    			<!-- img alt="" src="http://birdcam.ddnss.de:8080/?action=stream" width="1280" height="720" / -->	    			
	    		$if webcam == "1":
	    			<img alt ="" src="http://fotos.phodana.de/images/20080803200401_blumen.jpg" width="1280" height="720">
	    		$if webcam == "2":
	    			<img alt ="" src="http://www.blumen-salzmann.de/images/index/blumen-salzmann.jpg" width="1280" height="720">
		    	</div>
		    	<div class="span1">
					<form class="form" method="post"> 
			        	$:form.render()
			        </form>			       
		    	</div>
		    	<div class="span1"> </div>
	    	</div>
			  	</div>
		</div>
	</body></center>
</html>
